.gallery-header{
    text-align: center;
    margin: 5% 0;
}
.project{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    transition: transform .2s linear,-webkit-transform .2s linear;
    padding: 2em;
}
.project-name{
    font-size: 1.5rem;
}
.project:hover{
    transform: translateY(-7px);
    transition: all .3s;
}
.projects{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.project__stack{
    list-style: none;
    display: flex;
    justify-content: space-between;
    max-width: 60%;
    margin: 0 auto;
    padding: 0;
}
.project__stack-item{
    font-weight: 500;
    font-size: .8rem;
}
